body{
    color: #313131;
}
a{
    color: #313131;
}
.clear{
    clear: both;
}
.pd-1{
    padding: 28px 8%;
}
.pd-2{
    padding: 28px 0;
}
.ft-1 li > h3{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.bg-gray{
    background-color: #f7f7f7;
}
.title-1{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
/*首页课程推荐背景样式*/
.bg-texture-1{
    background: url("/img/series_bg_01.png") top right no-repeat;
    background-size: auto 100%;
}
.bg-texture-2{
    background: url("/img/series_bg_02.png") top right no-repeat;
    background-size: auto 100%;
}
.bg-texture-3{
    background: url("/img/series_bg_03.png") top right no-repeat;
    background-size: auto 100%;
}

.overflow-hid{
    overflow: hidden;
}
.title-left{
    float: left;
}
.title-right{
    float: right;
    color: #7d7d7d;
    line-height: 50px;
}
a.blue{
    color: #0090d3;
}

/*header*/
#header{
    width: 100%;
    box-sizing: border-box;
}
#header .menu{
    display: none;
}
#header .navigation{
    overflow: hidden;
}
.navigation li.current a{
    color: #0090d3;
}
#header .navigation-slide{
    display: none;
}
.slideicon{
    display: none;
}
#header .logo{
    float: left;
}
#header .search{

}
.banner{
    position: relative;
    width: 100%;
}
.banner > .dot{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/img/bg_dot.png") 0 0 repeat;
}
.banner > img{
    width: 100%;
}
.banner > label{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -15px;
    width:200px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}


/*首页*/
#header.home{
    padding: 0;
}
.home{
    position: relative;
}
.home .nav-container{
    position: absolute;
    z-index: 2;
    width: 100%;
}
#header.home .logo .iconfont{
    color: #fff;
    -webkit-text-stroke-width: 0px;
}
#header.home .search{
    position: absolute;
    right: 5%;
    top: 28px;
}
#header.home .search .iconfont{
    color: #fff;
}
.home .navigation li a{
    color: #fff;
}
.home .banner{
}
.home .banner label{
    color: #fff;
}
.searchpanel{
    position: relative;
}
.searchpanel > input{
    position: relative;
    width: 100%;
    font-size: 22px;
    line-height: 62px;
    padding: 0 20px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-sizing: border-box;
}
.searchpanel .iconfont.search{
    position: absolute;
    right: 10%;
    top: 45px;
    display: block;
    color: #2da4db;
    font-size: 30px;
}
.seriousWrapper{
    overflow: hidden;
}
.seriousWrapper > li{
    float: left;
    width: 20%;
    height: 180px;
    text-align: center;
}
.seriousWrapper > li > i{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.recommandWrapper{

}
.recommandWrapper >h1, .newsWrapper .overflow-hid{
    margin-bottom: 30px;
 }

.itemList{
    overflow: hidden;
    width: 100%;
}
.itemList > li{
    float: left;
    position: relative;
    width: 31%;
    padding-bottom: 31%;
    margin-right: 3.5%;
}
.itemList > li:nth-child(3n){
    margin-right: 0;
}
.itemList .cont {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.recommandWrapper .itemList .cont{
    padding-top: 25%;
    padding-left: 10%;
}

.titleTab{
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}
.titleTab > li{
    float: left;
    margin-right: 70px;
    border-bottom: 3px solid #f7f7f7;
}
.titleTab > li:last-child{
    float: right;
    line-height: 50px;
    margin-right: 0;
}
.titleTab > li:last-child a{
    color: #7d7d7d;
}
.titleTab > li.current{
    border-bottom: 3px solid #0090d3;
}
.titleTab > li.current a{
    color: #0090d3;
}
.hotWrapper .itemList > li{
    background-color: #fff;
    margin-top: 35px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 5px rgba(0,0,0,.08);
    box-sizing: border-box;
}
.hotWrapper .itemList .f1 .thumbnail{
    display: table-cell;
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: #0090d3;
    vertical-align: middle;
    text-align: center;
}
.hotWrapper .itemList{
    overflow: inherit;
}
.hotWrapper .itemList .f2{
    display: none;
}
.hotWrapper .itemList .name{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    width: 88%;
    margin: 0 auto;
    padding-top: 12%;
}
.hotWrapper .itemList .time{
    position: absolute;
    bottom: 5%;
    left: 6%;
    font-size: 14px;
    color: #0090d3;
    width: 86%;
}
.hotWrapper .itemList .hot, .hotWrapper .itemList .new{
    position: absolute;
    bottom: 5%;
    right: 6%;
}
.hotWrapper .itemList .hot{
    color: #f13d2f;
}
.hotWrapper .itemList .new{
    color: #36c9a8;
    font-size: 0.4rem;
    bottom: 0.08rem
}
.newsWrapper{
    position: relative;
    width: 84%;
    height:100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.swiper-slide {
    font-size: 16px;
    background: #fff;
    overflow: hidden;
}
.newsList .swiper-slide > img, .newsList .swiper-slide > p{
    width: 100%;
    margin-bottom: 15px;
    line-height: 20px;
}
.newsList .swiper-slide h1{
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newsList .swiper-slide .time{
    color:#191919;
}
.newsList .swiper-slide .desc{
    color:#7d7d7d;
}
.newsList .swiper-slide .keywords{
    color:#0090d3;
}
.swiper-button-disabled{
    opacity: .2;
}
.swiper-button-prev-news{
    position: absolute;
    top: 287px;
    left: -30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-button-next-news{
    position: absolute;
    top: 287px;
    right: -30px;
}
.swiper-button-prev-news i, .swiper-button-next-news i{
    font-size: 24px;
}

/*联系我们*/
.secondaryContent-1{
    width: 650px;
    margin: 0 auto;
    padding: 100px 0;
}
.secondaryContent-1 .contact-name{
    color: #191919;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 70px;
}
.secondaryContent-1 .info, .secondaryContent-1 .contact-address{
    font-size: 18px;
    line-height: 24px;
}
.secondaryContent-1 .contact-address{
    margin-bottom: 55px;
    position: relative;
    padding-left: 20px;
}
.secondaryContent-1 .info{
    color: #0090d3;
}
.secondaryContent-1 .contact-address .iconfont{
    position: absolute;
    top: 0;
    left: 0;
    color: #0090d3;
}









/*关于甫崎*/
.secnav{
    color: #000;
    background-color: #ececec;
}
.secnav a{
    color: #000;
}
.secnav{
    overflow: hidden;
    padding: 0 5%;
}
.secnav > li{
    float: left;
    padding: 0 3%;
}
.secnav > li a{
    display: inline-block;
    line-height: 80px;
}
.secnav > li.current a{
    color: #0090d3;
    border-bottom: 3px solid #0090d3;
    font-weight: 700;
}

.secondaryContent{

}
.secondaryContent h1{
    padding: 40px 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #1b1b1b;
}
.secondaryContent p{
    line-height: 28px;
    margin-bottom: 20px;
}
.secondaryContent h2{
    font-size: 24px;
    margin-bottom: 28px;
}
.secondaryContent h3{
    font-size: 24px;
    line-height: 50px;
    color: #1b1b1b;
    font-weight: 700;
}
.secondaryContent .missions{
    display: table;
    width: 100%;
    color: #fff;
    background-color: #6f7b8b;
}
.secondaryContent .missions .left, .secondaryContent .missions .right{
    display: table-cell;
    width:  50%;
}
.secondaryContent .missions .left{
    vertical-align: middle;
    box-sizing: border-box;
}
.secondaryContent .missions .right > img{
    width: 100%;
}
.secondaryContent .characters, .secondaryContent .supports{
    background-color: #eee;
}
.secondaryContent .characters ul, .secondaryContent .supports ul, .secondaryContent .patterns ul{
    overflow: hidden;
}
.secondaryContent .characters ul > li, .secondaryContent .supports ul > li, .secondaryContent .patterns ul > li{
    float: left;
    text-align: center;
}
.secondaryContent .characters .iconfont{
    font-size: 58px;
    line-height: 90px;
    color: #0090d3;
}




/*培训合作*/
.secondaryContent .features ul > li, .secondaryContent .supports ul > li, .secondaryContent .patterns ul > li{
    margin-bottom: 30px;
}
.secondaryContent .characters p{
    color: #707070;
}
.secondaryContent .features ul{
    overflow: hidden;
    background-color: #fff;
}
.secondaryContent .features ul > li{
    float: left;
    padding-right: 4%;

}
.secondaryContent .features ul > li:last-child{
    padding-right: 0;
}
.secondaryContent .features ul > li .iconfont{
    display: inline-block;
    font-size: 45px;
    color: #0090d3;
    padding-bottom: 15px;
}
.secondaryContent .supports ul > li{
    width: 33.333%;
}
.secondaryContent .supports{
    position: relative;
}
.secondaryContent .supports p, .secondaryContent .features p{
    color: #707070;
}
.secondaryContent .supports p{
    width: 80%;
    margin: 0 auto;
}
.secondaryContent .supports .iconfont{
    display: inline-block;
    position: relative;
    width: 70px;
    height:60px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #707070;
}
.secondaryContent .supports .iconfont:after{
    content: '.';
    position: absolute;
    bottom: -3px;
    left:50%;
    margin-left: -6px;
    font-size: 47px;
    color: #b1b0b0;
}
.secondaryContent .supports .line{
    position: absolute;
    left: 0;
    top: 192px;
    width: 100%;
    border-bottom: 1px solid #b1b0b0;
}
.secondaryContent .patterns ul{

}
.secondaryContent .patterns ul > li{
    width: 33.5%;
    min-height: 350px;
    margin: 3%;
    padding: 3% 5% 0 5%;
    border: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0,0,0, .1);
}
.secondaryContent .patterns h3{
    margin-bottom: 13px;
}
.secondaryContent .patterns .iconfont{
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 42px;
    color: #fff;
    margin-bottom: 20px;
    background:#3facbb;
    background:-moz-linear-gradient(top, #4bb1a5, #2ea4da);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#4bb1a5), to(#2ea4da));
    background:-o-linear-gradient(top, #4bb1a5, #2ea4da);
}
.secondaryContent .patterns p{
    color: #707070;
    margin-bottom: 0;
}
.secondaryContent .contactus{
    color: #fff;
    background-color: #6f7b8b;
}
.secondaryContent .contactus h1{
    color: #fff;
    text-align: left;
}
.secondaryContent .contactus ul{
    padding-bottom: 40px;
}
.secondaryContent .contactus ul > li{
    float: left;
    font-size: 18px;
    margin-right: 80px;
}
.secondaryContent .contactus ul > li .iconfont{
    font-size: 26px;
    vertical-align: -2px;
}


/*人才招聘*/
.secondaryContent .joinus h2{
    font-weight: bold;
}
.secondaryContent .joinus ul > li{
    margin-bottom: 90px;
}
.secondaryContent .joinus ul > li p{
    font-size: 18px;
}
.secondaryContent .joinus ul > li span{
    display: inline-block;
}
.secondaryContent .joinus ul > li span:nth-child(1),.secondaryContent .joinus ul > li span:nth-child(4){
    margin-right: 30px;
}


/*咨询服务*/
.consult-wrapper .consult-container{
    padding-top: 60px;
    border-bottom: 1px solid #dcdcdc;
}
.consult-wrapper .consult-container:last-child{
    border-bottom: none;
}
.secondaryContent .consult-container > h2{
    margin-bottom: 58px;
}
.consult-container ul{
    overflow: hidden;
    margin-bottom: 30px;
}
.consult-list{
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 30px;
}
.consult-list:nth-child(3n){
    margin-right: 0;
}
.consult-list > h2{
    position: relative;
    font-weight: bold;
    line-height: 28px;
    padding-left: 60px;
}
.consult-list > p{
    color: #7d7d7d;
}
.consult-list .iconfont{
    position: absolute;
    left: 0;
    top: 13px;
    font-size: 50px;
    margin-right: 15px;
    color: #0090d3;
    font-weight: normal;
}




/*底部通用*/
#footer{
    background-color: #eeeeee;
    padding: 20px 0;
}
.hotline{
    border-bottom: 1px solid #bfbfbf;
}
.hotline .iconfont{
    position: absolute;
    top: 20px;
    left:0;
    font-size: 40px;
}
.hotline .phonebox{
    position: relative;
    width: 200px;
    text-align: center;
    padding: 6px 0 28px 40px;
}
.hotline .phonebox > h1{
    font-size: 28px;
}
.hotline .phonebox > p{
    font-size: 22px;
    line-height: 40px;
}
.copyright{
    padding: 15px 0 10px 0;
    text-align: center;
}
.copyright > ul{
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.copyright li{
    display: inline;
    color: #1b1b1b;
    padding-left: 30px;
}
.copyright > p{
    font-size: 14px;
    color: #7d7d7d;
}