body{
    color: #313131;
}
a{
    color: #313131;
}

.pd-1{
    padding: 28px 8%;
}
.ft-1 li > h3{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
/*header*/
#header{
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}
#header .menu{
    display: none;
}
#header .navigation{
    overflow: hidden;
}
.navigation li.current a{
    color: #0090d3;
}
#header .navigation-slide{
    display: none;
}
#header .logo{
    float: left;
}
#header .search{

}

.banner{
    position: relative;
    width: 100%;
}
.banner > .dot{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/img/bg_dot.png") 0 0 repeat;
}
.banner > img{
    width: 100%;
}
.banner > label{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -15px;
    width:200px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

/*关于甫崎*/
.secnav{
    color: #000;
    background-color: #ececec;
}
.secnav a{
    color: #000;
}
.secnav{
    overflow: hidden;
    padding: 0 5%;
}
.secnav > li{
    float: left;
    padding: 0 3%;
}
.secnav > li a{
    display: inline-block;
    line-height: 80px;
}
.secnav > li.current a{
    color: #0090d3;
    border-bottom: 3px solid #0090d3;
    font-weight: 700;
}


.secondaryContent{

}
.secondaryContent h1{
    padding: 40px 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #1b1b1b;
}
.secondaryContent p{
    line-height: 28px;
    margin-bottom: 20px;
}
.secondaryContent h2{
    font-size: 24px;
    margin-bottom: 28px;
}
.secondaryContent h3{
    font-size: 24px;
    line-height: 50px;
    color: #1b1b1b;
    font-weight: 700;
}
.secondaryContent .missions{
    display: table;
    width: 100%;
    color: #fff;
    background-color: #6f7b8b;
}
.secondaryContent .missions .left, .secondaryContent .missions .right{
    display: table-cell;
    width:  50%;
}
.secondaryContent .missions .left{
    vertical-align: middle;
    box-sizing: border-box;
}
.secondaryContent .missions .right > img{
    width: 100%;
}
.secondaryContent .characters, .secondaryContent .supports{
    background-color: #eee;
}
.secondaryContent .characters ul, .secondaryContent .supports ul, .secondaryContent .patterns ul{
    overflow: hidden;
}
.secondaryContent .characters ul > li, .secondaryContent .supports ul > li, .secondaryContent .patterns ul > li{
    float: left;
    text-align: center;
}
.secondaryContent .characters .iconfont{
    font-size: 58px;
    line-height: 90px;
    color: #0090d3;
}
.secondaryContent .features ul > li, .secondaryContent .supports ul > li, .secondaryContent .patterns ul > li{
    margin-bottom: 30px;
}
.secondaryContent .characters p{
    color: #707070;
}
.secondaryContent .features ul{
    overflow: hidden;
    background-color: #fff;
}
.secondaryContent .features ul > li{
    float: left;
    padding-right: 4%;

}
.secondaryContent .features ul > li:last-child{
    padding-right: 0;
}
.secondaryContent .supports p, .secondaryContent .features p{
    color: #707070;
}
.secondaryContent .supports p{
    width: 80%;
    margin: 0 auto;
}
.secondaryContent .patterns ul{

}
.secondaryContent .patterns ul > li{
    width: 33.5%;
    height: 260px;
    margin: 3%;
    padding: 5%;
    border: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0,0,0, .1);
}
.secondaryContent .patterns h3{
    margin-bottom: 13px;
}

/*footer*/
#footer{
    background-color: #eeeeee;
    padding: 20px 0;
}
.hotline{
    border-bottom: 1px solid #bfbfbf;
}
.hotline .phonebox{
    text-align: center;
    padding: 6px 0 28px 0;
}
.hotline .phonebox > h1{
    font-size: 28px;
}
.hotline .phonebox > p{
    font-size: 22px;
    line-height: 40px;
}
.copyright{
    padding: 15px 0 10px 0;
    text-align: center;
}
.copyright > ul{
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.copyright li{
    display: inline;
    color: #1b1b1b;
    padding-left: 30px;
}
.copyright > p{
    font-size: 14px;
    color: #7d7d7d;
}