#container{
    width: 100%;
    font-size: 13px;
}
.secondaryContent h1{
    padding: 20px 0;
    font-size: 20px;
    line-height: 26px;
}
.secondaryContent h3{
    font-size: 17px;
    line-height: 36px;
}
.secondaryContent p{
    line-height: 24px;
}
.secondaryContent .characters ul > li{
    padding: 0 10%;
    width: 80%;
    height: 160px;
}