.title-1{
	font-size: 0.45rem;
	line-height: 0.6rem;
}

#container{
	width: 100%;
	font-size: 16px;
}
#container.hbg{
	background: url("/img/banner_h.jpg") top center no-repeat;
	background-size: 100% auto;
}
#header{
	margin: 0 auto;
	font-size: 18px;
}
#header .navigation{
	display: none;
}
#header .navigation-slide{
	display: none;
	position: absolute;
	z-index: 2;
	left:50%;
	margin-left: -45%;
	top: 3.5rem;
	width: 90%;
	background-color: #eee;
}
#header .navigation-slide > li{
	line-height: 1.8rem;
	border-bottom: 1px solid #d8d8d8;
	padding: 0.2rem 0.64rem;
}
#header .navigation-slide > li:last-child{
	border-bottom: none;
}
#header .navigation-slide > li a{
	color: #1b1b1b;
}
#header .navigation-slide .about > li{
	line-height: 1.4rem;
}
#header .menu{
	display: block;
	float: left;
	margin-right: 0.5rem;
	width: 2.45rem;
	height: 2.67rem;
	background-color: #6f7b8b;
}
#header .logo{
	float: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 5rem;
	height: 2.67rem;
}
#header .logo > img{
	width: 100%;
	vertical-align: middle;
}
.title-right{
	font-size: 18px;
}

/*首页*/
#header.home .logo .iconfont{
    font-size: 1.8rem;
}
#header.home .menu{
    background: transparent;
    text-align: center;
    line-height: 2.67rem;
}
#header.home .menu .iconfont{
    color: #fff;
    font-size: 0.8rem;
}
#header.home .search{
    top: 50%;
    margin-top: -0.27rem;
}
#header.home .search .iconfont{
    font-size: 0.65rem;
}
.recommandWrapper > h1{
	margin-bottom: 0.45rem;
}
.recommandWrapper .itemList .cont .s{
	font-size: 16px;
}
.recommandWrapper .itemList .cont .name{
	font-size: 0.5rem;
	line-height: 0.6rem;
}
.titleTab > li:last-child a{
	font-size: 18px;
}

.hotWrapper .itemList .name{
	font-size: 18px;
	line-height: 24px;
	padding-top: 0;
}
.hotWrapper .itemList .time{
	font-size: 12px;
}

/*关于甫崎*/
.secondaryContent h2{
    font-size: 22px;
    line-height: 26px;
}
.secondaryContent .characters ul > li{
	width: 50%;
    height: 260px;
}
.secondaryContent .characters p{
	width: 85%;
	margin: 0 auto;
}
.secondaryContent .features ul > li{
	width: 46%;
}
.secondaryContent .supports ul > li{
	text-align: center;
}

/*培训合作*/
.secondaryContent .patterns .iconfont{
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 36px;
}

/*咨询服务*/
.consult-list .iconfont{
	font-size: 40px;
}


/*底部通用*/
.hotline .phonebox{
	margin: 0 auto;
}