#container{
	width: 100%;
	font-size: 16px;
}
#header{
	margin: 0 auto;
	padding: 28px 5% 15px 5%;
	font-size: 18px;
}
.navigation{
	float: left;
}
.navigation li{
	float: left;
	padding: 0 20px;
	line-height: 84px;
}
.logo{
	margin-right: 40px;
}


.secondaryContent h1{
    padding: 40px 0;
    font-size: 28px;
    line-height: 34px;
}
.secondaryContent h3{
    font-size: 24px;
    line-height: 50px;
}
.secondaryContent .missions .right > img{
	width: 100%;
}
.secondaryContent .characters ul > li{
	width: 33.333%;
    height: 260px;
}
.secondaryContent .characters p{
	width: 85%;
	margin: 0 auto;
}

#footer{
    overflow: hidden;
    padding: 40px 5% 40px 8%;
}
.hotline{
    float: left;
}
.copyright{
    float: right;
}
