#container{
	width: 100%;
	font-size: 16px;
}
#header{
	margin: 0 auto;
	padding: 28px 5% 15px 5%;
	font-size: 18px;
}
.navigation li{
	float: left;
	padding: 0 20px;
	line-height: 84px;
}
#header .logo{
	margin-right: 40px;
}


.secondaryContent p{
    margin-bottom: 30px;
}
.secondaryContent .missions .right > img{
	width: 100%;
}
.secondaryContent .characters ul > li{
	width: 33.333%;
    height: 260px;
}
.secondaryContent .characters p{
	width: 85%;
	margin: 0 auto;
}

#footer{
    overflow: hidden;
    padding: 40px 5% 40px 8%;
}
.copyright{
	float: right;
	text-align: right;
}
.copyright > ul{
	text-align: right;
}
.hotline{
    float: left;
    border-bottom: 0;
}

