#container{
	width: 100%;
	font-size: 16px;
}
#header{
	margin: 0 auto;
	font-size: 18px;
}
#header .navigation{
	display: none;
}
#header .navigation-slide{
	display: none;
	position: absolute;
	z-index: 2;
	left:50%;
	margin-left: -45%;
	top: 3.5rem;
	width: 90%;
	background-color: #eee;
}
#header .navigation-slide > li{
	line-height: 1.8rem;
	border-bottom: 1px solid #d8d8d8;
	padding: 0.2rem 0.64rem;
}
#header .navigation-slide > li:last-child{
	border-bottom: none;
}
#header .navigation-slide > li a{
	color: #1b1b1b;
}
#header .navigation-slide .about > li{
	line-height: 1.4rem;
}
#header .menu{
	display: block;
	float: left;
	margin-right: 0.5rem;
	width: 2.45rem;
	height: 2.67rem;
	background-color: #6f7b8b;
}
#header .logo{
	float: inherit;
	display: table-cell;
	vertical-align: middle;
	width: 5rem;
	height: 2.67rem;
}
#header .logo > img{
	width: 100%;
	vertical-align: middle;
}

.secondaryContent h2{
    font-size: 22px;
    line-height: 26px;
}
.secondaryContent .characters ul > li{
	width: 50%;
    height: 260px;
}
.secondaryContent .characters p{
	width: 85%;
	margin: 0 auto;
}
.secondaryContent .features ul > li{
	width: 46%;
}
.secondaryContent .supports ul > li{
	text-align: left;
}