#container{
	width: 100%;
	font-size: 16px;
}
#header{
	margin: 0 auto;
	padding: 28px 50px 15px 50px;
	font-size: 18px;
}
.navigation{
	float: left;
}
.navigation li{
	float: left;
	padding: 0 20px;
	line-height: 84px;
}
.logo{
	margin-right: 40px;
}
.secnav{
	overflow: hidden;
	padding: 0 50px;
	background-color: #ececec;
}
.secnav > li{
	float: left;
}
.secnav > li a{
	line-height: 80px;
	padding: 0 36px;
}